 <h1>UFSIT</h1>
 <hr>
 <p class="lead">
The Student InfoSec Team provides an environment for students (and anyone else who’s interested and willing to participate) to learn more about information security topics such as penetration testing, reverse engineering, exploit development, etc. The SIT holds weekly meetings that are student led and regularly include presentations from local IT professionals and guest industry speakers. In addition to meetings, the SIT regularly participates in CTF events and hosts their own to help members sharpen their skills.
</p>